# Database Configuration
DB_HOST=
DB_PORT=
DB_USER=
DB_PASSWORD=
DB_NAME=look_inside
DB_SSLMODE=

# Server Configuration
SERVER_HOST=
SERVER_PORT=
GIN_MODE=prod

# TimescaleDB Configuration
TIMESCALE_RETENTION_POLICY=7d
TIMESCALE_CHUNK_TIME_INTERVAL=1h

# Google OAuth Configuration
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URL=..../api/v1/auth/google/callback

# JWT Configuration
JWT_SECRET=

COOKIE_DOMAIN=
ENVIRONMENT=prod

TLS_CERT_FILE=
TLS_KEY_FILE=

DISCORD_NEW_USER_WEBHOOK=
DISCORD_REPORT_WEBHOOK=

REDIS_PASSWORD=